body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
  margin: 0;
  padding: 0 0;
}

.span-title {
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: #182153;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section {
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* --------------------title/navbar Section-------------------------- */
#title {
  background-color: white;
  padding: 0;
  z-index: 999;
}

#title .container-fluid {
  padding: 0;
}

/* Navigation Bar */
#title nav {
  overflow: hidden;
  font-family: "Ubuntu";
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-nav {
  text-align: center;
  margin: auto;
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-size: 0.8rem;
  color: #182153;
  font-family: "Montserrat-Light";
}

/* --------------------Profile Section-------------------------- */
.row {
  padding: 0 0 0 0;
}

#profile {
  padding: 15% 20% 7%;
  background-color: #151d4a;
  background-image: url("/images/fabric-of-squares.png");
}

#profile .container-fluid {
  padding: 0 0;
  background-color: #FCF8F7;
}

.profile-left-side img {
  width: 100%;
  height: 100%;
}

.profile-right-side {
  text-align: left;
  padding-left: 3%;
  color: #182153;
}

.profile-title {
  margin-bottom: 0;
  font-size: 1.5rem;
}

.profile-description {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.profile-right-side h1 {
  padding-top: 10%;
}

/* --------------------social Section-------------------------- */
#social {
  background-color: #f5f5f5;
}

#social footer {
  width: 50%;
  margin: auto;
  padding: 0;
}

#social .container-fluid {
  padding: 0;
  /* background-color: #ffddcc; */
  background-color: #151d4a;
}

.icons-anchor-tag {
  color: white;
}

/* --------------------About me Section-------------------------- */
#about {
  position: relative;
  text-align: center;
  background-color: #f5f5f5;
}

#about .container-fluid {
  width: 70%;
}

#about h3 {
  color: #788fa5;
}

/* --------------------Experience Section-------------------------- */
#experience-education {
  text-align: left;
}

#experience-education span {
  letter-spacing: 0.2rem;
}

#experience-education h3 {
  padding: 1rem 0;
}

.education {
  padding: 2rem 0;
}

/* --------------------Skills Section-------------------------- */
#skills {
  background-color: #151d4a;
  background-image: url("/images/fabric-of-squares.png");
  padding: 0 0;
  text-align: center;
}

#skills .title-div {
  background-color: #182153;
  padding: 0.5rem 0;
  color: #fff;
}

#skills .container-fluid {
  padding-top: 1rem;
}

#skills .span-title{
  color: white;
}

.social-icon {
  font-size: 1.5rem;
  margin: 20px 10px;
}

/* --------------------Contace me Section-------------------------- */
#contact-me {
  background-color: #E7E4E3;
}

#contact-me .container-fluid {
  padding: 0 0 0;
}

#contact-me .span-title {
  padding: 1rem 0;
  color: #182153;
}

#contact-me .title-div hr {
  display: block;
  height: 0;
  border: 0;
  border-top: 1px solid white;
  margin: 0 0;
  padding: 0;
}

.contact-left-side {
  text-align: center;
  border-right: 1px solid white;
  padding: 2rem 3rem;
}

.contact-left-side .row {
  padding: 0 0 1rem 0;
}

.contact-left-side .subject-input {
  padding: 0 0 1rem 0;
}

.contact-left-side .message-textarea {
  padding: 0 0 1rem 0;
}

.contact-left-side .submit-button {
  padding: 0 0 1rem 0;
}

.contact-right-side {
  color: #182153;
  padding-left: 3%;
  padding-top: 2%;
  text-align: left;
}

#contact-me .profile-info-div {
  padding-top: 3%;
}

/* --------------------footer Section-------------------------- */
#footer {
  padding: 0;
}

.footer-div {
  padding: 1% 20%;
  text-align: left;
  font-size: 0.5rem;
}

.footer-div p {
  margin-bottom: 0;
  color: #2F2E2E;
}

/* --------------------media Section-------------------------- */

@media screen and (max-width: 991px) and (min-width: 769px) {
/* start of large tablet styles */
.email-input {
  padding-top: 1rem;
}

}

/* computer- laptop-1200 tablet-800 phone- */
@media screen and (max-width: 769px) and (min-width: 480px) {
  /* start of medium tablet styles */
  .profile-right-side {
    padding-left: 10%;
    font-size: 5rem;
  }

  .email-input {
    padding-top: 1rem;
  }

  .contact-right-side {
    padding-top: 0;
    padding-left: 7%;
  }
}

@media screen and (max-width: 479px) {
  /* start of phone styles */
  #profile {
    padding: 22% 10% 7%;
  }

  .profile-right-side {
    padding-left: 10%;
  }

  #about .container-fluid{
    text-align: center;
    padding: 7% 1%;
  }

  .email-input {
    padding-top: 1rem;
  }

  .contact-right-side {
    padding-top: 0;
    padding-left: 13%;
  }
}
